body {
    background: #ffffff;
}

nav {
    margin-bottom: 15px;
}

.card-img {
    height: 200px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    margin-bottom: 16px;
}